<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <machineKey validationKey="C0BD99B1139CCAA2C7FBDA6352E5A6CBC1DB489483AB6254BF0D2FAB9CBEAC0CB2C6B283461E3E4FBFA004B6821836996DC94CEBB454DC49944C95C91026E197" decryptionKey="8C9CBEAC209FF94F12488E70694ACE74D4729F7D0F4CD667EF46F60A5CE98B9F" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="1024000" executionTimeout="1600" requestLengthDiskThreshold="1024000" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   <!-- <add key="ConStr" value="Data Source=NISHTHA;Initial Catalog=NPCVBSkillDevelopment;Integrated Security=True" />-->
     <add key="ConStr" value="Data Source=103.21.58.78;Initial Catalog=npcvbdb;User Id=npcvbdbusr;Password=ow2iA57~;Timeout=90000;"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>